* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #141414;
}
.navbar {
    background: #131313;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarMain {
    display: flex;
    justify-content: space-between;
    height: 75px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    background: #131313;
}

#navbarLogo {
    background-color: #0962ba;
    background-image: linear-gradient(to top, #09C6F9 0%, #045DE9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}



.navbarMenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    background: #131313;
}

.navbarItems {
    height: 80px;
}

.navbarLinks {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}



.navbarLinks:hover {
 color: #1372d1;
 transition: all 0.3s ease;
}


@media screen and (max-width: 960px) {
    .navbarMain {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbarMenu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbarMenu.active {
      background: #141414;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
  
    #navbarLogo {
      padding-left: 25px;
    }


    .navbarToggler .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }

    .navbarItem {
        width:  100%;
    }

    .navbarLinks {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbarToggler .bar {
        display: block;
        cursor: pointer;
    }


    
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }


}

.main {
    background-color: #141414;
}

.main h1 {
    color: #fff;
    
}
.mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
}

.mainInfo h1 {
    font-size: 4rem;
    background-color: #1372d1;
    background-image: linear-gradient(to top,#09C6F9 0%, #045DE9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.mainInfo h2 {
    font-size: 2rem;
    padding: 1rem;
    background-color: #1372d1;
    background-image: linear-gradient(to top,#ffffff 0%, #c3d9fc 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#main__img {
    height: 80%;
    width: 80%;
}

.main__img--container {
    background-color: #141414;
}

@media screen and (max-width: 768px) {
    .mainContainer{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        height: 90vh;
        margin: 0 auto;
        background-color: #141414;
    }

    .mainInfo {
        text-align: center;
        margin-bottom: 4rem;
    }
    
    .mainInfo h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    
    .mainInfo h2 {
        font-size: 2rem;
    }

}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #131313;
    height: auto;
    width: 100vw;
    padding-top: 40px;
}

footer h1{
    padding-right: 20px;
    font-size: 1rem;
    text-align: right;
    background-color: #1372d1;
    background-image: linear-gradient(to top,#ffffff 0%, #c3d9fc 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

footer button {
    position: relative;
    left: 50%;
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    font-size: 1rem;
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #1372d1;
}

.contact:hover {
cursor: pointer;
background-color: #2688eb;
}

.itch:hover {
    cursor: pointer;
    background-color: #2688eb;
}

.mainWolfGame {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
    background: none;
    background-color: transparent;
    
    
}
.WolfGame {
    color: #fff;
    background: none;
    background-color: transparent;
    background-image: url("/images/Claws.png");
    background-size: 80%;
    background-repeat: no-repeat;
}
.WolfGame h1 {
    padding-top: 100px;
    background: none;
    background-color: transparent;

}
.WolfGame center{
    background: none;
    background-color: transparent;
}

.WolfGame h2 {
    padding: 5px;
    font-size: 2.1rem;
    background: none;
    background-color: transparent;
    
}
.WolfGame h3 {
    padding: 10px;
    background: none;
background-color: transparent;
}
.wolflink{
    color: #fff;
    text-decoration: none;
    background: none;
    background-color: transparent;

}
#Project__img {
width: 90%;
height: 90%;
background: none;
background-color: transparent;

}
#Project__img__Tree{
width: 105%;
height: 105%;
background: none;
background-color: transparent;

}
#Project__img__Pill{
width: 90%;
height: 90%;
background: none;
padding-left: 60px;
background-color: transparent;

}
#Project__img__Explorer {
    width: 60%;
    height: 60%;
    padding-left: 60px;
    background: none;
    background-color: transparent;
    
}
.description {
background: none;
background-color: transparent;
}

.game1 {
    background: none;
    background-color: transparent;
}

.game1Img{
    background: none;
    background-color: transparent;
}
.game1 small {
    background: none;
    background-color: transparent;
}
.PillGame h1 {
    padding-top: 100px;
    background: none;
    background-color: transparent;

}
.game2 {
    background: none;
    background-color: transparent;
}

.game2Img{
    background: none;
    background-color: transparent;
}
.game2 small {
    background: none;
    background-color: transparent;
}
.PillGame center{
    background: none;
    background-color: transparent;
}
.PillGame h2 {
    padding: 5px;
    font-size: 2.1rem;
    background: none;
    background-color: transparent;
    
}
.PillGame h3 {
    padding: 10px;
    background: none;
    background-color: transparent;
}
.mainPillGame {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
    background: none;
    background-color: transparent;
    
    
}
.PillGame {
    color: #fff;
    background-image: url("/images/pillBlue.png"); 
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}






.Bottom__spacer {
    color: #141414;
    padding-top: 100px;
}
.Resume h4{
    padding-top: 50px;
    color: #0482e9 ;
    font-size: 3.2rem;
}
.Resume h1{
    padding-top: 125px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #0962ba;
    background-image: linear-gradient(to top, #09C6F9 0%, #045DE9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.2rem;
}
.Resume a{
    padding-right: 15px;
    padding-left: 10px;
    color: #fff;
    font-size: 1.5rem;
}
.Title {
    color: #fff;
    font-size: 0.8rem;
}
.objectve {
    padding-left: 15%;
    padding-right: 15%;
    color: #fff;
    font-size: 0.8rem;
}
.education {
    padding-left: 15%;
    padding-right: 15%;
    color: #fff;
    font-size: 0.8rem;
}
.skills {
    padding-left: 15%;
    padding-right: 15%;
    color: #fff;
    font-size: 0.8rem;
}
.skills h3 {
    color: #fff;
    font-size: 1.5rem;
}
.personalProjects {
    
    padding-left: 15%;
    padding-right: 15%;
    color: #fff;
    font-size: 1.5rem;
}
.personalProjects h2{
    font-size: 1.2rem;
}
.ProjectSlot {
    padding-bottom: 125px;
}
#Date {
    white-space: nowrap;
    overflow-x: auto;
    color: #fff;
    font-size: 1.5rem;
    display:inline-block;
    float: right;

}
#Type {
    white-space: nowrap;
    overflow-x: auto;
    color: #fff;
    font-size: 1.5rem;
    display:inline-block;
    text-align: left;
}
.TreeGame {
    color: #fff;
    background: none;
    background-position: 50%;
    background-color: transparent;
    background-image: url("/images/BlueTreeBack.png");
    background-size: 90%;
    background-repeat: no-repeat;
}
.TreeGame h1 {
    padding-top: 100px;
    background: none;
    background-color: transparent;

}
.TreeGame center{
    background: none;
    background-color: transparent;
}

.TreeGame h2 {
    padding: 5px;
    font-size: 2.1rem;
    background: none;
    background-color: transparent;
    
}
.TreeGame h3 {
    padding: 10px;
    background: none;
    background-color: transparent;
}
.Explorer {
    color: #fff;
    background: none;
    background-position: 50%;
    background-position-y: -30px;
    background-color: transparent;
    background-image: url("/images/BlueIsland.png");
    background-size: 90%;
    background-repeat: no-repeat;
}
.Explorer h1 {
    padding-top: 100px;
    background: none;
    background-color: transparent;

}
.Explorer center{
    background: none;
    background-color: transparent;
}

.Explorer h2 {
    padding: 5px;
    font-size: 2.1rem;
    background: none;
    background-color: transparent;
    
}
.Explorer h3 {
    padding: 10px;
    background: none;
    background-color: transparent;
}
.HuntGame {
    color: #fff;
    background: none;
    background-position: 50%;
    background-color: transparent;
    background-image: url("/images/WolfHuntBlue.png");
    background-size: 70%;
    background-repeat: no-repeat;
}
.HuntGame h1 {
    padding-top: 100px;
    background: none;
    background-color: transparent;

}
.HuntGame center{
    background: none;
    background-color: transparent;
}

.HuntGame h2 {
    padding: 5px;
    font-size: 2.1rem;
    background: none;
    background-color: transparent;
    
}
.HuntGame h3 {
    padding: 10px;
    background: none;
    background-color: transparent;
}